---
title: "Home"
layout: "default"
TopMenuCategory: "Home"
scripts: ['/js/main.js']
priority: 1.0
---

block content
  // Hero Section
  section#hero.hero
    .container
      .caption
        h1.red-text.text-uppercase.animated.wow.fadeInLeft
          | Attract, 
          span.red-text-d Convert 
          | and 
          span.red-text-d Retain 
          | More Customers.
        p.animated.wow.fadeInLeft
          | E-commerce &amp; Digital Marketing Services for businesses focused on increasing sales and leads.

        //- a.app_store_btn.text-uppercase.animated.wow.fadeInLeft(href='#')
        //-   i.iphone_icon
        //-   span E-Commerce
        //- a.app_store_btn.text-uppercase.animated.wow.fadeInLeft(href='#')
        //-   i.android_icon
        //-   span Digital Marketing
  // End Hero Section

  //- // Featured On Section
  //- section.featured_on
  //-   .container
  //-     ul.list-unstyled.text-center.clearfix
  //-       li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown
  //-         img(src='img/google_logo.png', alt='', title='')
  //-       li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.2s')
  //-         img(src='img/facebook_logo.png', alt='', title='')
  //-       li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.3s')
  //-         img(src='img/yahoo_logo.png', alt='', title='')
  //-       li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.4s')
  //-         img(src='img/paypal_logo.png', alt='', title='')
  //- // End Featured On Section

  // About Section
  section#about.about
    .container
      .row
        .col-md-6.animated.wow.fadeInLeft
          .features_list
            h1 E-commerce insights, information and expertise.
            p
              | We identify and resolve the gaps in the sales funnel, turning great
              | products into bestsellers and visitors into repeat customers.

          //- .iphone
          //-   img(src='img/iphone.png', alt='', titl='')
        .col-md-6.animated.wow.fadeInRight
          .features_list
            h1 Digital marketing that won’t break the bank.
            p
              | Ever wondered how much you should be spending on advertising? We review
              | your online campaigns and attract more customers without overspending on advertising.

  //- End About Section
  
  //- App Features Section
  section#what-we-do.what-we-do
    .container
      .row.text-center
        .col-md-12.wow.fadeInLeft(data-wow-delay='0s')
          h1 What we do

      .row
        .col-md-4
          ul.fa-ul
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | E-commerce Planning
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Digital Marketing Strategy
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Website Analytics
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Conversion Optimisation

        .col-md-4
          ul.fa-ul
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | A/B Testing
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Campaign Analysis
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Search Engine Optimisation
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Adwords

        .col-md-4
          ul.fa-ul
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Email Marketing
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Google Shopping
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Amazon &amp; eBay
            li 
              i.fa-li.fa.fa-check-square-o.fa-lg
              | Marketplace Integration

      //- .row.text-center

      //-   .col-md-4.col-md-offset-1.details.animated.wow.fadeInDown(data-wow-delay='0s')
      //-     h3.text-uppercase E-commerce Planning
      //-     p
      //-     | Knowing how to leverage your product range is the key to selling successfully
      //-     | online. We’ll provide you with a plan to grow your business online - NOW. 

      //-   .col-md-4.col-md-offset-2.details.animated.wow.fadeInDown(data-wow-delay='0s')
      //-     h3.text-uppercase Digital Marketing Strategy
      //-     p
      //-       | Understanding the best way to market your products means that your
      //-       | time and budget can be directed to what matters most. We’ll tell you which
      //-       | marketing activities are important for your business and how much time/budget
      //-       | you should be spending.
           
      //-   .col-md-4.col-md-offset-1.details.animated.wow.fadeInDown(data-wow-delay='0s')
      //-     h3.text-uppercase Improve your Website &amp; Digital Marketing
      //-     p
      //-       | Whether it’s improving your ranking on search engines or increasing the
      //-       | click through rate on Adwords or emails we’ll show you how AND increase sales. 

      //-   .col-md-4.col-md-offset-2.details.animated.wow.fadeInDown(data-wow-delay='0s')
      //-     h3.text-uppercase Expand into New Marketplaces
      //-     p
      //-       | We can open doors to new marketplaces or evaluate opportunities already
      //-       | presented to you. We’ll make sure that you have all the information you
      //-       | need to choose the best route for your business.


  //- And App Features Section

  //- Testimonials Section
  section#about-level-eight.about-level-eight.animated.wow.fadeIn(data-wow-duration='2s')
    .container
      .row
        .col-md-3
          img.img-responsive.img-thumbnail(src="/img/emma_dastur.jpg" alt="Emma Dastur - Director")

        .col-md-9
          p
            | As the owner of Level Eight Digital I work with businesses wanting to increase
            | sales online without overspending on marketing or costly website redesigns. The
            | starting point is always to use what you already have – we make adjustments
            | to your digital marketing, website, Amazon or eBay shop to get the most out of
            | your website and marketing. If you choose to, we can then leverage the additional
            | sales to expand and grow your businesses further.

          p
            | You can choose to work with us on a consulting basis or ask us to look after
            | your ecommerce and digital marketing activities on an on-going basis. 

  //- End Testimonials Section

  //- Email Subscription Section
  a(name="contact")
  section.sub_box
    .container
      .row
        .col-md-12
          p.text-center.cta_text.animated.wow.fadeInDown
            | Next step... get in touch.
      .row
        .col-md-6.col-md-offset-3
          form#submit_form.animated.wow.fadeIn(action='//formspree.io/contact@leveleightdigital.com', method='post', data-wow-duration='2s')
            input(type="hidden" name="_subject" value="Website Contact")
            input(type="text" name="_gotcha" style="display:none")

            .form-group
              label.sr-only(for="index-form-name") Name
              input#index-form-name.form-control.input-lg(type='text', placeholder='Your Name')
            .form-group
              label.sr-only(for="index-form-email") Email
              input#index-form-email.form-control.input-lg(type='email', placeholder='Your Email')
            .form-group
              label.sr-only(for="index-form-msg") Message
              input#index-form-msg.form-control.input-lg(type='text', placeholder='Your Message')
      
            button#mc_submit(type='submit')
              //- i.fa.fa-paper-plane
              //- &nbsp;
              | Send
              //- i.icon
          #error_msg.message Please Enter A Valid Email.
          #success_msg.message Thank You For Your Message.
  // End Email Subscription Section
