---
title: "Home"
layout: "default"
TopMenuCategory: "Home"
scripts: ['/js/index.js']
priority: 1.0
---

block content

    // Hero Section
    section#hero.hero
      .container
        .caption
          h1.text-uppercase.animated.wow.fadeInLeft Attract, Convert and Retain More Customers.
          p.text-lowercase.animated.wow.fadeInLeft
            | Ecommerce &amp; Digital Marketing services for businesses focused on improving their ecommerce and marketing activities with a little know-how from us.
          a.app_store_btn.text-uppercase.animated.wow.fadeInLeft(href='http://pixelhint.com/capture-free-responsive-bootstrap-app-landing-page-theme')
            i.iphone_icon
            span E-Commerce
          a.app_store_btn.text-uppercase.animated.wow.fadeInLeft(href='http://pixelhint.com/capture-free-responsive-bootstrap-app-landing-page-theme')
            i.android_icon
            span Digital Marketing
    // End Hero Section
    // Featured On Section
    section.featured_on
      .container
        ul.list-unstyled.text-center.clearfix
          li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown
            img(src='img/google_logo.png', alt='', title='')
          li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.2s')
            img(src='img/facebook_logo.png', alt='', title='')
          li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.3s')
            img(src='img/yahoo_logo.png', alt='', title='')
          li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.4s')
            img(src='img/paypal_logo.png', alt='', title='')
    // End Featured On Section
    // About Section
    section#about.about
      .container
        .row
          .col-md-6.text-center.animated.wow.fadeInLeft
            h2 Ecommerce insights, information and expertise.
            h3
              | Increasing sales, basket value, repeat purchases and
              | encouraging customer loyalty can seem like chasing the holy
              | grail. We work with businesses to turn great products into bestsellers.  

            //- .iphone
            //-   img(src='img/iphone.png', alt='', titl='')
          .col-md-6.animated.wow.fadeInRight
            .features_list

              h1 Digital marketing that won’t break the bank.
              p
                | If you have ever wondered how much you should be spending on
                | advertising or if you are getting value for money then speak to
                | us. We’ll attract more customers without overspending on advertising.

    //- End About Section
    
    //- App Features Section
    section#app_features.app_features
      .container
        .row.text-center
          .col-md-12.wow.fadeInLeft(data-wow-delay='0s')
            h1 What we do

        .row.text-center

          .col-sm-6.col-md-6.details.animated.wow.fadeInDown(data-wow-delay='0s')
            h3.text-uppercase Ecommerce Planning
            p Knowing how to leverage your product range is the key to selling successfully online. We’ll provide you with a plan to grow your business online - NOW. 

          .col-sm-6.col-md-6.details.animated.wow.fadeInDown(data-wow-delay='0s')
            h3.text-uppercase Digital Marketing Strategy
            p Understanding the best way to market your products means that your time and budget can be directed to what matters most. We’ll tell you which marketing activities are important for your business and how much time/budget you should be spending.
             
          .col-sm-6.col-md-6.details.animated.wow.fadeInDown(data-wow-delay='0s')
            h3.text-uppercase Improve your Website &amp; Digital Marketing
            p Whether it’s improving your ranking on search engines or increasing the click through rate on Adwords or emails we’ll show you how AND increase sales. 

          .col-sm-6.col-md-6.details.animated.wow.fadeInDown(data-wow-delay='0s')
            h3.text-uppercase Expand into New Marketplaces
            p We can open doors to new marketplaces or evaluate opportunities already presented to you. We’ll make sure that you have all the information you need to choose the best route for your business.


    //- And App Features Section

    //- Testimonials Section
    section#testimonials.testimonials.animated.wow.fadeIn(data-wow-duration='2s')
      .container
        p
          | As the owner of Level Eight Digital I work with businesses wanting to increase
          | sales online without overspending on marketing or costly website redesigns. The
          | starting point is always to use what you already have – we make adjustments
          | to your digital marketing, website, Amazon or eBay shop to get the most out of
          | your website and marketing. If you choose to, we can then leverage the additional
          | sales to expand and grow your businesses further.

        p
          | You can choose to work with us on a consulting basis or ask us to look after
          | your ecommerce / digital marketing activities. 

    //- End Testimonials Section

    //- Email Subscription Section
    section.sub_box
      p.cta_text.animated.wow.fadeInDown Next step... get in touch, let’s talk about your business.

      form#submit_form.animated.wow.fadeIn(action='#', metohd='post', data-wow-duration='2s')
        input#mc-email(type='email', placeholder='Your Name')
        input#mc-email(type='email', placeholder='Your Email')
        input#mc-email(type='email', placeholder='Your Message')
        button#mc_submit(type='submit')
          i.icon
      #error_msg.message Please Enter A Valid Email.
      #success_msg.message Thank You For Your Message.
    // End Email Subscription Section
