doctype html
html
  head
    // App Title
    title Level Eight Digital
    // App Description
    meta(name='description', content='Level Eight Digital.')
    meta(charset='utf-8')
    meta(name='author', content='clinsoftsolutions.com')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/owl.transitions.css')
    link(rel='stylesheet', type='text/css', href='css/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='css/animate.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    //- Header Section
    header
      .container
        .logo.pull-left.animated.wow.fadeInLeft
          img(src='img/Level-Eight-Logo.png', alt='', title='' width="300")
        //- nav.pull-left
        //-   ul.list-unstyled
        //-     li.animated.wow.fadeInLeft(data-wow-delay='0s')
        //-       a(href='#about') About
        //-     li.animated.wow.fadeInLeft(data-wow-delay='.1s')
        //-       a(href='#app_features') Features
        //-     li.animated.wow.fadeInLeft(data-wow-delay='.2s')
        //-       a(href='#testimonials') Testimonials
        //- .social.pull-right
        //-   ul.list-unstyled
        //-     li.animated.wow.fadeInRight(data-wow-delay='.2s')
        //-       a(href='#')
        //-         img(src='img/facebook.png', alt='', title='')
        //-     li.animated.wow.fadeInRight(data-wow-delay='.1s')
        //-       a(href='#')
        //-         img(src='img/twitter.png', alt='', title='')
        //-     li.animated.wow.fadeInRight(data-wow-delay='0s')
        //-       a(href='#')
        //-         img(src='img/google.png', alt='', title='')

        //- span.burger_icon menu
    //- End Header Section

    != content

    //- Footer Section
    footer
      p
        | Level Eight Digital Limited is an Ecommerce and Digital Marketing company based
        | in Farnham, Surrey.
        br
        | We welcome clients from around the UK. 

      ul.list-unstyled.list-inline.app_platform
        li.animated.wow.fadeInDown(data-wow-delay='0s')
          a(href='')
            img(src='img/facebook.png', alt='', title='')
        li.animated.wow.fadeInDown(data-wow-delay='.1s')
          a(href='')
            img(src='img/twitter.png', alt='', title='')
        li.animated.wow.fadeInDown(data-wow-delay='.2s')
          a(href='')
            img(src='img/google.png', alt='', title='')

      p.copyright.animated.wow.fadeIn(data-wow-duration='2s')
        | &copy; 2015 
        a(href='http://pixelhint.com', target='_blank')
          strong Level Eight Digital Ltd
        | . All Rights Reserved
    //- End Footer Section

    != getBlock('scripts').add(['/js/jquery.js', '/js/ajaxchimp.js', '/js/scrollTo.js', '/js/owl.carousel.min.js', '/js/wow.js', '/js/parallax.js', '/js/nicescroll.js'].concat(document.scripts||[])).toHTML()

